/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }

/* My code  */

.page-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:   
    'sidebar header'
    'sidebar main';
}
.sidebar {
    grid-area: sidebar;
    background-color: deepskyblue;
    color: bisque;
}
.sidebar-logos {
   filter: invert(88%) sepia(18%) saturate(639%) hue-rotate(326deg) brightness(104%) contrast(103%);
}
.sidebar-header {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.header {
    grid-area: header;
    background-color: aquamarine;
}

.main-content {
    grid-area: main;
    background-color: seagreen;
}